<!DOCTYPE html >
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

</head>

<body>
<div class="navbar">
    <a href="/notes">Notes</a>
    <a href="/newnote">New Note</a>
    <a href="/logout">logout</a>
</div>
<form method="post">
    {% if note %}
        {% for n in note %}
    <h4 class= label style="font-family: monospace; padding-top: 40px">subject</h4>
    <input name="subject" style="height: 20px; width: 1000px;" value="{{ n.subject }}">

    <h4 class= label style="font-family: monospace">content</h4>
    <textarea  placeholder="This is an awesome comment box" name="content" id="comment_text"
              class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list"
              aria-haspopup="true" style="width: 1000px; height: 500px;">{{ n.content }}</textarea>
    <br>
    <br>
    <input type="submit" value="update" name="update" class='button'>
    <input type="submit" value="cancel" name="cancel" class='button'>
        {% endfor %}
    {% else  %}
    <h4 class= label style="font-family: monospace; padding-top: 40px">subject</h4>
    <input name="subject" style="height: 20px; width: 1000px;">

    <h4 class= label style="font-family: monospace">content</h4>
    <textarea  placeholder="This is an awesome comment box" name="content" id="comment_text"
               class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list"
               aria-haspopup="true" style="width: 1000px; height: 500px;"></textarea>
    <br>
    <br>
    <input type="submit" class='button'>
    <input type="submit" value="cancel" name="cancel" class='button'>

    {% endif %}


</form>


</body></html>


