<!DOCTYPE html >
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
<div class="navbar">
    <a href="/notes">Notes</a>
    <a href="/newnote">New Note</a>
    <a href="/logout">logout</a>
</div>


{% for note in allNotes: %}

<div class="chapter">
    <div >
        <div >
            <div >
            <h2 style="display: inline-block;">
                <a href="/note/{{ note.noteNumber }}" style="text-decoration:none; color: black " >{{note.subject}}</a></h2>
            <span style=" display: inline-block;" >{{ note.created.date() }}</span>
            </div>
            <p>{{note.content}} </p>
        </div>
   </div>
</div>

<br>
<br>
{% endfor %}

</body>
</html>




